:root{
    --bg-color : #16161a;
    --main: #fffffe;
    --secondary: #72757e;
    --stroke: #010101;
    --h_line : #fffffe;
    --paragraph: #94a1b2;
    --btn-color: #7f5af0;
    --highline: #7f5af0;
    --btn-text: #fffffe;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
}
.wrapper{
    width: 100%;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-around;
}
.header h1{
    font-size: 1.2rem;
    font-family: "poppins",sans-serif;
    color: var(--h_line);
    letter-spacing: 1.7px;
    padding: 33px 0;
    font-weight: 400;
    opacity: 0.7;
}
.nav{
    overflow: hidden;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    list-style: none;
    padding: 35px 10px;
}
nav ul li a{
    font-family: "Poppins", sans-serif;
    color: var(--h_line);
    opacity: 0.7;
    letter-spacing: 0;
    font-size: 1rem ;
    font-weight: 250;
    text-decoration: none;
}
nav ul li a:not(:last-child){
    padding: 15px 15px;
}
nav ul li a:hover{
    opacity: 1;
}
.sct1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 33px);
}
.sct2{
    width: 100%;
    height: calc(100vh - 33px);
}
.sct3   {
    width: 100%;
    height: calc(100vh - 33px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner h1{
    text-align: center;
    font-size: 2.2rem;
    font-family: "Poppins", sans-serif;
    color: var(--h_line);
    margin-top: calc(10% - 2%);
    margin-bottom: 2%;
}
.banner p{
    color: var(--paragraph);
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "poppins",sans-serif;
    margin-bottom: 3%;
    text-align: start;
    padding: 0 20%;
}
.banner button{
    border: none;
    background-color: var(--highline);
    border-radius: 3px;
    opacity: 0.8;
    cursor: pointer;
    padding: 10px 15px;
}
.banner button:hover{
    opacity: 1;
}
.banner button a{
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--btn-text);
    font-family: "poppins",sans-serif;
}
.skills{
    padding: 0 15%;
}
.skills h1{
    color: var(--h_line);
    font-family: "poppins",sans-serif;
    margin-bottom: 5%;
}
    
.container-data{
    margin-bottom: 20px;
    background-color: var(--btn-color);
    padding: 0.8rem 10px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.container-data span{
    color: var(--h_line);
    margin: 0 20px 0 0;
    font-family: "poppins",sans-serif;
    font-size: 1rem;
}
.container-data .progress-bar{
    width: 70%;
    position: relative;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 2em;
    overflow: hidden;
}
.progress-bar-100::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--h_line);
}
.progress-bar-70::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: var(--h_line);
}
.progress-bar-40::before{
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: var(--h_line);
}
.progress-bar-45::before{
    content: '';
    position: absolute;
    width: 45%;
    height: 100%;
    background-color: var(--h_line);
}
.progress-bar-30::before{
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: var(--h_line);
}
.footer{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--h_line);
    font-family: "Poppins", sans-serif;
}
.footer h6{
    font-size: 0.5rem;
    font-weight: 10px;
    letter-spacing: 0.7px;
    opacity: 0.7;
}
.footer strong{
    font-weight: bold;
}
.footer a{
    text-decoration: none;
}
.footer i{
    color: var(--paragraph);
    text-align: center;
    font-size: 2rem;
    margin: 0 10px;
}
.about{
    padding: 0 20%;
}
.about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about h2{
    margin: 15% 0;
    font-size: 1.7rem;
    color: var(--h_line);
    font-family: "poppins",sans-serif;
}
.about-info p{
    color: var(--paragraph);
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "poppins",sans-serif;
    text-align: justify;
    margin-bottom: 10%;
}
.about-info button{
    border: none;
    background-color: var(--highline);
    border-radius: 3px;
    opacity: 0.8;
    cursor: pointer;
    padding: 10px 15px;
}
.about-info a{ 
    text-decoration: none;
    color: var(--btn-text);
    font-family: "poppins",sans-serif;
}
@media only screen and (max-width: 720px) {
    .about{
        padding: 0 10%;
    }
    .banner h1{
        text-align: start;
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        color: var(--h_line);
        margin-top: 40%;
        margin-bottom: 10%;
        padding: 0 10px;
    }
    .banner p{
            text-align: justify;
            color: var(--paragraph);
            font-size: 1.2rem;
            padding: 0 10%;
            font-weight: 500;
            font-family: "poppins",sans-serif;
            margin-bottom: 12%;
    }
    .banner button a{
        font-size: 1rem;
        text-decoration: none;
        color: var(--btn-text);
        font-family: "poppins",sans-serif;
    }
    .sct2{
        height: 50vh;
    }
    .skills{
        padding: 0  10%;
    }
    .container-data{
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        margin-bottom: 30px;
        padding: 1rem 10px;
    }
    .about-info p{
        word-spacing: 2px;
        color: var(--paragraph);
        font-family: "poppins",sans-serif;
        margin-bottom: 12%;
    }
}